<h1>Deputados</h1>

<% @deputies.each do |d| %>
    <div class="well">
        <h3><%= d.full_name %></h3>
        <p><%= d.cpf %></p>
        <p><%= d.political_party %></p>
        <p><%= d.registered_id %></p>
        <%= link_to "Mais Detalhes", deputy_path(d), :class => 'btn btn-default' %>
    </div>
<% end %>