<h2><%= @deputy.full_name %></h2>
<p>CPF:</p>
<p><%= @deputy.cpf %></p>
<p>PARTIDO:</p>
<p><%= @deputy.political_party %></p>
<p>ID CADASTRO:</p>
<p><%= @deputy.registered_id %></p>
<hr>
<%= link_to "Edit", edit_deputy_path(@deputy), :class => 'btn btn-default' %>
<%= link_to "Delete", deputy_path(@deputy),
    method: :delete,
    data: { confirm: 'Desejar deletar o Deputado ' + @deputy.full_name + '?' },
    :class => 'btn btn-danger' %>