<h1>Deputados</h1>

<% @deputados.each do |d| %>
    <div class="well">
        <h3><%= d.nome %></h3>
        <p><%= d.cpf %></p>
        <p><%= d.partido %></p>
        <p><%= d.id_cadastro %></p>
        <%= link_to "Mais Detalhes", deputado_path(d), :class => 'btn btn-default' %>
    </div>
<% end %>