<h2><%= @deputado.nome %></h2>
<p>CPF:</p>
<p><%= @deputado.cpf %></p>
<p>PARTIDO:</p>
<p><%= @deputado.partido %></p>
<p>ID CADASTRO:</p>
<p><%= @deputado.id_cadastro %></p>
<hr>
<%= link_to "Edit", edit_deputado_path(@deputado), :class => 'btn btn-default' %>
<%= link_to "Delete", deputado_path(@deputado),
    method: :delete,
    data: { confirm: 'Desejar deletar este deputado?' },
    :class => 'btn btn-danger' %>